@model Memorial.ViewModels.CremationIndexesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("ApplicantBrief", "Applicants", new { id = Model.ApplicantId });}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cremation in Model.Cremations)
        {
            <tr>
                <td>@Html.ActionLink(cremation.Name, "Items", new { cremationId = cremation.Id, applicantId = Model.ApplicantId })</td>
                <td>@cremation.Description</td>
            </tr>
        }
    </tbody>
</table>
