@model Memorial.ViewModels.MiscellaneousItemsViewModel
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("ApplicantBrief", "Applicants", new { id = Model.ApplicantId });}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var miscellaneousItem in Model.MiscellaneousItems)
        {
            <tr>
                <td>@Html.ActionLink(miscellaneousItem.Name, "Item", new { item = miscellaneousItem.SystemCode, miscellaneousItemId = miscellaneousItem.Id, applicantId = Model.ApplicantId })</td>
                <td>@miscellaneousItem.Description</td>
                <td>@miscellaneousItem.Price</td>
            </tr>
        }
    </tbody>
</table>