@model IEnumerable<Memorial.Core.Domain.QuadrangleArea>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Area</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quadrangleArea in Model)
        {
            <tr>
                <td>@Html.ActionLink(quadrangleArea.Name, "Quadrangle", new { quadrangleAreaId = quadrangleArea.Id })</td>
                <td>@quadrangleArea.Description</td>
            </tr>
        }
    </tbody>
</table>


