@model IEnumerable<Memorial.Core.Domain.QuadrangleCentre>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quadrangleCentre in Model)
        {
            <tr>
                <td>@Html.ActionLink(quadrangleCentre.Name, "Area", new { quadrangleCentreId = quadrangleCentre.Id })</td>
                <td>@quadrangleCentre.Description</td>
            </tr>
        }
    </tbody>
</table>


